<li>
        <div class="post">
            <a href='/post/{{id}}'><p class="post-title">{{title}}</p></a>
            <p class="post-date">Published by: <span class="post-user">{{user.user_name}}</span> - ({{timeSince created_at}})</p>
            <p class="post-comments">{{commentCount comments}}</p>
        </div>
    </li>