<h3 class="page-title">My Dashboard</h3>

<section>
    <div class="headline-wrapper">
        <div class="dashboard-stats">     
            <p>You have made {{postCount posts}} so far{{#if posts}}, click on the post's title to edit or delete that post{{/if}}. Click the "New Post" button to publish a new post.</p>
            <button id="add-btn" class="post-button">New Post</button>
        </div>  
    </div>
   


    {{#if posts}}
    <ul class="post-list">
    <h4 class="page-subtitle">Your Past Posts</h4>
    <div class="divider"></div>
    {{/if}}

    {{#each posts as |post|}}
     <li>
        <div class="dashboard-item">
            <p class="post-byline">{{format_date created_at}} ({{timeSince created_at}}) | {{commentCount comments}}</p>
            <a href='/edit-post/{{id}}'><p class="post-title">&gt; {{title}}</p></a>
            <p class="contents">{{contents}}</p>
        </div>
        <div class="divider"></div>
    </li>
    {{/each}}
</ul>


</section>

<script src="/javascript/dashboard.js"></script>