<h3 class="page-title">My Dashboard</h3>

<section>
    <div class="dashboard-stats">     
        <div>
            <p>You have made {{postCount posts}} so far.</p>
            <p>Click on any of your post titles below to edit or delete the post.</p>
        </div>
        <button id="add-btn" class="post-button">New Post</button>
    </div>
    
    <ul class="post-list">
    <div class="divider"></div>
    {{#each posts as |post|}}
     <li>
        <div class="dashboard-item">
            <p class="post-byline">{{format_date created_at}} ({{timeSince created_at}}) | {{commentCount comments}}</p>
            <a href='/edit-post/{{id}}'><p class="post-title">&gt; {{title}}</p></a>
            <p class="contents">{{contents}}</p>
        </div>
        <div class="divider"></div>
    </li>
    {{/each}}
</ul>


</section>

<script src="/javascript/dashboard.js"></script>