<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <div class="post">
            <a href='/post/{{post.id}}'><p class="post-title">{{post.title}}</p></a>
            <p class="post-date">Published by: <span class="post-user">{{post.user.user_name}}</span> - ({{timeSince post.created_at}})</p>
            <p class="post-comments">{{commentCount post.comments}}</p>
        </div>
    </li>
    {{/each}}
</ol>